html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
}

#game-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
